<h1><%=@survey.name%></h1>

<div>
  <% @survey.questions.each do |q|%>
  
  <%= q.title %>
  <ul>
    <% q.choices.each do |c| %>
      <% n = 0 %>
      <% q.responses.each do |r| %>
        <% if r.choice.id == c.id %>
          <% n += 1 %> 
        <% end %>
      <% end %>
    <li><%= n %> people answer <%= c.possible_response %></li>
    <% end%>
  </ul>
  <% end %>
</div>

<a href="/profile/<%= @survey.user.id %>">Go Home</a>
